<app-header
  [showMenu]="false"
  [showLogout]="false"
  [showLogin]="true"
  (login)="onLogin()">
</app-header>

<main>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos modi, corporis
    dolore possimus id aliquam architecto molestias facilis odit fuga aspernatur
    repudiandae dolor nesciunt mollitia repellat labore inventore asperiores
    tempore.
  </p>
</main>
